In [11]:
#Import dependencies.
import pandas as pd
import gmaps
import requests
#Import the API key.
from google import g_key

In [12]:
#Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Mataura,NZ,2020-08-20 01:58:42,-46.19,168.86,57.99,75,96,1.01
1,1,Atasu,KZ,2020-08-20 01:58:42,48.68,71.64,58.51,44,86,6.78
2,2,San Felipe,VE,2020-08-20 01:58:43,10.34,-68.74,73.31,93,31,2.15
3,3,Jamestown,US,2020-08-20 01:58:43,42.10,-79.24,60.80,63,1,3.36
4,4,Mar Del Plata,AR,2020-08-20 01:53:47,-38.00,-57.56,39.99,64,40,4.70
...,...,...,...,...,...,...,...,...,...,...
558,558,Staryy Nadym,RU,2020-08-20 02:01:05,65.61,72.68,58.78,86,90,9.08
559,559,Turki,RU,2020-08-20 02:01:05,51.99,43.27,52.07,73,88,6.73
560,560,Sitka,US,2020-08-20 01:58:36,57.05,-135.33,66.20,63,75,4.70
561,561,Livingston,GB,2020-08-20 02:01:06,55.90,-3.52,64.40,93,75,10.29
562,562,Jumla,NP,2020-08-20 02:01:06,29.27,82.18,63.18,70,100,1.12

In [14]:
#Get the data types.
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [15]:
#Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [38]:
#1. Assign the locations to an array of latitude and longitude pairs.
locations = city_data_df[["Lat", "Lng"]]
#2. Get the maximum temperature
max_temp = city_data_df["Max Temp"]
#3. Assign the figure variable to the gmaps.figure() attribute
fig = gmaps.figure()
#4. Assign the heatmap_layer variable to the heatmap_layer attribute and add in the locations.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp,0) for temp in max_temp])
#5. Add the heatmap layer.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=temps, dissipating=False, max_intensity=300, point_radius=4)
fig.add_layer(heat_layer)
#6. Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [39]:
#Heatmap of the percent humidity.
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating = False, max_intensity=300, point_radius=4)
fig.add_layer(heat_layer)
#Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [40]:
#Heatmap of the percent humidity.
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating = False, max_intensity=300, point_radius=4)
fig.add_layer(heat_layer)
#Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [41]:
#Heatmap of the percent humidity.
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating = False, max_intensity=300, point_radius=4)
fig.add_layer(heat_layer)
#Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [42]:
#Ask the customer to add a minimum nad maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [45]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
15,15,Cockburn Town,TC,2020-08-20 01:58:46,21.46,-71.14,83.50,83,0,19.71
24,24,Gladstone,AU,2020-08-20 01:58:49,-23.85,151.25,77.00,16,0,11.41
35,35,Angoram,PG,2020-08-20 01:58:53,-4.06,144.07,89.78,54,0,2.89
39,39,Kapaa,US,2020-08-20 01:56:37,22.08,-159.32,84.20,62,1,13.87
44,44,Butaritari,KI,2020-08-20 01:58:55,3.07,172.79,83.50,76,97,10.87
45,45,Jacksonville,US,2020-08-20 01:57:16,30.33,-81.66,79.00,78,75,9.17
52,52,Guiratinga,BR,2020-08-20 01:57:46,-16.35,-53.76,76.77,27,0,1.83
53,53,Cayenne,GF,2020-08-20 01:58:57,4.93,-52.33,77.00,100,2,10.83
54,54,Trinidad,BO,2020-08-20 01:58:57,-14.83,-64.90,83.08,50,70,9.64
57,57,Pucallpa,PE,2020-08-20 01:56:54,-8.38,-74.55,81.68,62,55,0.60

In [46]:
preferred_cities_df.count()

City_ID       194
City          194
Country       194
Date          194
Lat           194
Lng           194
Max Temp      194
Humidity      194
Cloudiness    194
Wind Speed    194
dtype: int64

In [47]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

             City Country  Max Temp    Lat     Lng Hotel Name
15  Cockburn Town      TC     83.50  21.46  -71.14
24      Gladstone      AU     77.00 -23.85  151.25
35        Angoram      PG     89.78  -4.06  144.07
39          Kapaa      US     84.20  22.08 -159.32
44     Butaritari      KI     83.50   3.07  172.79
45   Jacksonville      US     79.00  30.33  -81.66
52     Guiratinga      BR     76.77 -16.35  -53.76
53        Cayenne      GF     77.00   4.93  -52.33
54       Trinidad      BO     83.08 -14.83  -64.90
57       Pucallpa      PE     81.68  -8.38  -74.55

In [50]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found....skipping.")
hotel_df

Hotel not found....skipping.
Hotel not found....skipping.
Hotel not found....skipping.
Hotel not found....skipping.
Hotel not found....skipping.
Hotel not found....skipping.
Hotel not found....skipping.
Hotel not found....skipping.
Hotel not found....skipping.
Hotel not found....skipping.
Hotel not found....skipping.
Hotel not found....skipping.
Hotel not found....skipping.
Hotel not found....skipping.
Hotel not found....skipping.
Hotel not found....skipping.
Hotel not found....skipping.
Hotel not found....skipping.

,City,Country,Max Temp,Lat,Lng,Hotel Name
15,Cockburn Town,TC,83.50,21.46,-71.14,Osprey Beach Hotel
24,Gladstone,AU,77.00,-23.85,151.25,Highpoint International
35,Angoram,PG,89.78,-4.06,144.07,
39,Kapaa,US,84.20,22.08,-159.32,Sheraton Kauai Resort at Coconut Beach
44,Butaritari,KI,83.50,3.07,172.79,Isles Sunset Lodge
...,...,...,...,...,...,...
542,Aripuana,BR,79.65,-9.17,-60.63,
545,Kathu,TH,86.00,7.92,98.33,Sunset Beach Resort
546,Sibu,MY,77.00,2.30,111.82,RH HOTEL (4 Star)
548,Zaltan,LY,79.05,32.95,11.87,زلطن الشرقية
554,Cairns,AU,88.00,-16.92,145.77,Mantra Trilogy Cairns

In [54]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [53]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

In [55]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [57]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))